<div class=" w-full flex justify-center p-5 ">
    <p-button variant="text" [raised]="true" class="!flex-1 !ms-28" styleClass="!w-[60%] !flex !justify-start">
        <div class="w-full  flex flex-col justify-start gap-4">
            <div class="text-black font-medium text-4xl me-auto">Fourniseur</div>
            <div class="text-4xl ms-auto">
                20
            </div>
        </div>
    </p-button>
    <p-button variant="text" [raised]="true" class="!flex-1" styleClass="!w-[60%] !flex !justify-start">
        <div class="w-full flex flex-col justify-start gap-4 ">
            <div class="text-black font-medium text-4xl me-auto">Client</div>
            <div class="text-4xl  ms-auto">
                10
            </div>
        </div>
    </p-button>
    <p-button variant="text" [raised]="true" class="!flex-1" styleClass="!w-[60%] !flex !justify-start">
        <div class="w-ful flex flex-col justify-start gap-4">
            <div class="text-black font-medium text-4xl me-auto">Marchandise</div>
            <div class="text-4xl ms-auto">
                10
            </div>
        </div>
    </p-button>
</div>
