<div class="w-full mt-10 flex flex-col items-center gap-5">
    <h1 class="text-6xl font-medium">Produit</h1>
    <p-table 
        #dt2
        class="!w-[80%]" 
        showGridlines 
        [value]="products" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [globalFilterFields]="['id', 'name', 'price','quantite']"
    >
        <ng-template #caption>
            <div class="flex justify-between items-center ">
                <p-button label="Ajout" icon="pi pi-plus" (click)="modalAdd=true" [rounded]="true" />
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search " />
                    <input 
                        pInputText 
                        [pAutoFocus]="true" 
                        type="text" 
                        (input)="dt2.filterGlobal($any($event.target).value, 'contains')" 
                        placeholder="Search keyword"
                        class="!text-black"
                    />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr class="">
                <th class="!text-center !text-black !font-semibold" pSortableColumn="id">
                    Identifiant<p-sortIcon field="id" />
                </th>
                <th class="!text-center !text-black !font-semibold" pSortableColumn="name">
                    Nom<p-sortIcon field="name" />
                </th>
                <th class="!text-center !text-black !font-semibold" pSortableColumn="price">
                    Prix<p-sortIcon field="price" />
                </th>
                <th class="!text-center !text-black !font-semibold" pSortableColumn="quantite">
                    Quantité<p-sortIcon field="quantite" />
                </th>
                <th class="!text-center !text-black !font-semibold !w-2">
                    Button
                </th>
                <!-- <th pSortableColumn="quantity">
                    Quantity<p-sortIcon field="quantity" />
                </th> -->
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantite }}</td>
                <td class="!flex !justify-center !gap-5">
                    <p-button icon="pi pi-plus" (click)="showModalUpdate('IN', product)" [rounded]="true" />
                    <p-button icon="pi pi-minus" (click)="showModalUpdate('OUT', product)" [rounded]="true" />
                    <p-button label="Supprimer" icon="pi pi-trash" severity="secondary" />
                </td>
            </tr>
        </ng-template>
    </p-table>

    <!-- ajout client -->
    <p-dialog header="Ajout d'un nouveau Produit" styleClass="!w-[35%] !text-black" [modal]="true" [(visible)]="modalAdd" >
        <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-col items-center w-full gap-2">
                <div class="w-[70%] flex flex-col gap-2">
                    <label for="email" class="text-black font-medium text-lg">Nom:</label>
                    <input id="email" formControlName="name" placeholder="Nom du produit" pInputText class="!text-black !w-full" />
                </div>
                <div class="w-[70%] flex flex-col gap-1">
                    <label for="name" class="text-black font-medium text-lg">Prix:</label>
                    <input id="name" formControlName="price" placeholder="Prix du produit" pInputText class="!text-black !w-full" />
                </div>
                <div class="w-[70%] flex flex-col gap-1">
                    <label for="firstName" class="text-black font-medium text-lg">Quantite:</label>
                    <input id="firstName" formControlName="quantite" placeholder="Quantité du produit" pInputText class="!text-black !w-full" />
                </div>
            </div>
            <div class="flex justify-end gap-2 mt-5">
                <p-button [disabled]="clientForm.invalid" label="Enregistrer" type="submit" />
                <p-button label="Annuler" severity="secondary" type="reset" (click)="modalAdd = false" />
            </div>
        </form>
    </p-dialog>
    <!-- commander une article -->
    <p-dialog header=" {{ titleModal=='IN'? 'Ajouter le produit':'Enlever un produit' }} " styleClass="!w-[35%] !text-black" [modal]="true" [(visible)]="modalUpdate" >
        <!-- <form [formGroup]="clientForm" (ngSubmit)="onSubmit()"> -->
            <div class="flex flex-col items-center w-full gap-2">
                <div class="w-[70%] flex flex-col gap-2">
                    <label for="email" class="text-black font-medium text-lg">Quantite:</label>
                    <input [(ngModel)]="quantity" id="email" placeholder="Nombre de produit" pInputText class="!text-black !w-full" />
                </div>

            </div>
            <div class="flex justify-end gap-2 mt-5">
                <p-button (click)="createStock(product, titleModal, quantity)" label="Enregistrer" type="submit" />
                <p-button label="Annuler" severity="secondary" type="reset" (click)="modalUpdate = false" />
            </div>
        <!-- </form> -->
    </p-dialog>
</div>