<!-- <p class="">sdfsdf</p> -->
 <div class="h-[100vh] border-5 flex flex-col justify-center items-center">
    <div class="h-full w-1/2  flex flex-col justify-center items-center gap-6">
      <h1 class="text-8xl font-semibold">StockHub</h1>
        <p-floatlabel class="!w-[37%]">
            <input pInputText type="text"  class="!w-full"/>
            <label for="in_label" class="!text-sm">Email</label>
        </p-floatlabel>
        <p-floatlabel class="!w-[37%]">
            <input pInputText type="text" class="!w-full" [type]="'password'"  />
            <label for="in_label" class="!text-sm">Mot de passe</label>
        </p-floatlabel>
        <p-button label="Connexion" class="!w-full !flex justify-center" styleClass="!w-[37%]"  />
    </div>
 </div>

<router-outlet />
