<div class="h-[100vh] border-5 flex flex-col justify-center items-center">
    <form [formGroup]="formLogIn" class="h-full w-1/2  flex flex-col justify-center items-center gap-6" (submit)="onSubmit()">
      <h1 class="text-8xl font-semibold">StockHub</h1>
        <p-floatlabel class="!w-[37%]">
            <input formControlName="email" pInputText [pAutoFocus]="true" type="text"  class="!w-full !text-black"/>
            <label for="in_label" class="!text-sm">Email</label>
        </p-floatlabel>
        <p-floatlabel class="!w-[37%]">
            <input formControlName="password" pInputText type="text" class="!w-full !text-black" [type]="'password'"  />
            <label for="in_label" class="!text-sm">Mot de passe</label>
        </p-floatlabel>
        <p-button [disabled]="formLogIn.invalid" label="Connexion" class="!w-full !flex justify-center" styleClass="!w-[37%]"  type="submit"/>
    </form>
 </div>
