<div class="w-full mt-10 flex flex-col items-center gap-5">
    <h1 class="text-6xl font-medium">Client</h1>
    <p-table 
        #dt2
        class="!w-[80%]" 
        showGridlines 
        [value]="products" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [globalFilterFields]="['name', 'category', 'code', 'quantity']"
    >
        <ng-template #caption>
            <div class="flex justify-between items-center ">
                <p-button icon="pi pi-plus" (click)="modal=true" [rounded]="true" />
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search " />
                    <input 
                        pInputText 
                        [pAutoFocus]="true" 
                        type="text" 
                        (input)="dt2.filterGlobal($any($event.target).value, 'contains')" 
                        placeholder="Search keyword"
                        class="!text-black"
                    />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr class="!text-black !font-semibold">
                <th pSortableColumn="code">
                    Code<p-sortIcon field="code" />
                </th>
                <th pSortableColumn="name">
                    Name<p-sortIcon field="name" />
                </th>
                <th pSortableColumn="category">
                    Category<p-sortIcon field="category" />
                </th>
                <th pSortableColumn="quantity">
                    Quantity<p-sortIcon field="quantity" />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog header="Ajout d'un nouveau client" styleClass="!w-[35%] !text-black" [modal]="true" [(visible)]="modal" >
        <!-- <span class="p-text-secondary block">Update your information.</span> -->
        <div class="flex flex-col items-center w-full gap-2">
            <div class="w-[70%] flex flex-col gap-2">
                <label for="email" class="text-black font-medium text-lg">Email:</label>
                <input id="email"  placeholder="Email du client" pInputText class="!text-black !w-full" />
            </div>
            <div class="w-[70%] flex flex-col gap-1">
                <label for="name" class="text-black font-medium text-lg">Nom:</label>
                <input id="name" placeholder="Nom du client" pInputText class="!text-black !w-full" />
            </div>
            <div class="w-[70%] flex flex-col gap-1">
                <label for="firstName" class="text-black font-medium text-lg">Prénom:</label>
                <input id="firstName" placeholder="Prénom du client" pInputText class="!text-black !w-full" />
            </div>

        </div>
        <div class="flex justify-end gap-2 mt-5">
            <p-button label="Enregistrer" (click)="modal = false" />
            <p-button label="Annuller" severity="secondary" (click)="modal = false" />
        </div>
    </p-dialog>
</div>
